<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem;" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
  
              <div class="form-outline mb-4">
                <input type="email" id="form2Example17" class="form-control form-control-lg" formControlName="email"/>
                <label class="form-label" for="form2Example17">Email </label>
                <div *ngIf="getControl.email.touched && getControl.email.invalid" class="text-danger">
                  <div *ngIf="getControl.email.errors.required">Email is Required </div>
              </div>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label" for="form2Example27">Password</label>
                <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
                  <div *ngIf="getControl.password.errors.required">Password is Required </div>
              </div>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
              </div>
  
            
            </form>
  
          </div>
  
        </div>
      </div>
    </div>
  </section>